.container_inner_faq {
    width: 60vw;
    max-width: 800px;
  }

.content_faq, .content_team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    max-width: 800px;
    margin-bottom: 5vh;
}

.content_faq {
    flex-direction: column;
}

.content_team {
    width: 60vw;
    max-width: 800px;
}

.content_question, .content_title {
    width: 47.5%;
    font-family: neue-kabel;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: white;
}

.content_faq .content_question, .content_faq .content_answer {
    width: 100%;
    margin-bottom: 10px;
    text-align: justify;
}

.content_title {
    text-align: right;
}

.content_answer {
    width: 47.5%;
    font-family: neue-kabel;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: white;
}

.content_answer a {
    color: white;
}

@media screen and (max-width: 768px){
    .content_faq, .content_team {
        flex-direction: column;
    }
    .content_question, .content_title {
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
    }
    
    .content_answer {
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
}