.container_inner_faq {
    width: 70vw;
    max-width: 1200px;
  }

.content_faq, .content_team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    max-width: 1200px;
    margin-bottom: 5vh;
}
.content_team {
    width: 60vw;
    max-width: 800px;
}

.content_question, .content_title {
    width: 30%;
    font-family: neue-kabel;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: white;
}

.content_title {
    text-align: right;
}

.content_answer {
    width: 65%;
    font-family: neue-kabel;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: white;
}

.content_answer a {
    color: white;
}

@media screen and (max-width: 768px){
    .content_faq, .content_team {
        flex-direction: column;
    }
    .content_question {
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .content_answer {
        width: 100%;
        text-align: center;
    }
}