
.footer_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: wrap;
}

.footer_nav a {
  text-decoration: none;
  border-bottom: 2px solid white;
  margin-bottom: 0.5px;
}

.footer_nav a:hover {
  border-bottom: 2px solid black;
  color: black;
}

.footer_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
}

.footer .content {
  text-align: left;
  font-size: 20px;
}

.footer_row_mailinglist {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.footer_row_mailinglist_container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5vh;
  padding-bottom: 0.5vh;
}

.footer_row_mailinglist_input {
  border-bottom: 1.5px solid white;
  width: 60%;
  margin-right: 1.5vw;
  display: flex;
  
}

.footer_row_mailinglist_text {
  background: transparent;
  width: 80%;
  border: none;
  outline: transparent;
  font-size: 20px;
}

.footer_row_mailinglist_text:focus {
  background: transparent;
  border: none;
  outline: transparent;
}


.footer_row_mailinglist_text::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.footer_row_mailinglist_submit {
  padding: 0.5vh 1vw;
  border: 1.5px solid white;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.footer_row_mailinglist_divider {
  border-top: 1px solid white;
}

.footer_row_contact {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.footer_row_contact_row {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-top: 1.5vh;
}

.footer_row_contact_row_icon {
  margin-right: 1vw;
}

.footer_row_mailinglist_icon {
  margin: 0 1vw 0.25vh 0;
}

.footer_row_caveat {
  width: 60%;
}

.footer_row_socials {
  width: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_row_oculuslogo {
  width: 60%;
}

.footer_row_oculuslogo_logo {
  height: 30px;
  width: auto;
}

.footer_row_oculus .content {
  margin-left: 1vw;
}

.footer_row_oculus {
  width: 32%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.footer_nav .content, .footer_nav_mobile {
  padding: 0 1vw;
}

.footer_nav_mobile {
  display: none;
}

@media screen and (max-width: 1024px){
  .footer_row_mailinglist, .footer_row_mailinglist_input, .footer_row_caveat, .footer_row_oculuslogo {
    width: 55%;
  }

  .footer_row_contact, .footer_row_socials, .footer_row_oculus {
    width: 37%;
  }

  .footer .content {
    text-align: justify;
  }  
}


@media screen and (max-width: 768px){
  .footer_nav {
    flex-wrap: wrap;
    display: none;
  }

  .footer_nav_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_row_mailinglist, .footer_row_oculuslogo, .footer_row_oculus, .footer_row_caveat, .footer_row_socials, .footer_row_contact, .footer_row_mailinglist_input {
    width: 100%;
  }

  .footer_row_oculus .content, .footer_row_contact_row .content  {
    margin-left: 3vw;
  }

  .footer .content, .footer_row_mailinglist_submit {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
  }

  .footer_row_mailinglist_text {
    font-size: 11px;
    line-height: 20px;
  }
  
  .footer_row_oculus, .footer_row_socials, .footer_row_contact {
    margin-top: 5vh;
  }

  .footer_row_mailinglist_icon {
    display: none;
  }
    
  .footer_row {
    flex-direction: column;
  }
  
  .footer_row_oculuslogo_logo {
    height: 20px;
    width: auto;
  }
}